__pycache__
docs/build/
docs/_build
conflict_interface.egg-info/
*.pyc
*.swp
*.egg
dist


.env
cloc.sh

examples/creds.py
examples/__pycache__

.idea

Makefile
make.bat

tests/data/full_test_data_1.json
tests/data/full_test_data_2.json
tests/data/full_test_data_3.json
tests/data/full_test_data_4.json
tests/full_test_data_1.json

tests/credentials.json
tests/full_test_data_4.json
/doc/data2.json
/doc/data3.json
build
/doc/main-built-min.js
tests/full_test_data_5.json
*.db

examples/
examples/credentials.json
main.js
*.js
/tests/full_test_data_6_v191.json
tests/full_test_data_1_v206.json
/tools/recorder/config.json
/recordings/
/tools/recorder/accounts.json
/tools/recorder/recordings/
/tools/recorder/credentials.json
/tools/recording_converter/recording-json/
