__pycache__
docs/build/
docs/_build
conflict_interface.egg-info/
*.pyc
*.swp
*.egg
dist


.env
cloc.sh

examples/creds.py
examples/__pycache__

.idea

Makefile
make.bat

tests/data/full_test_data_1.json
tests/data/full_test_data_2.json
tests/data/full_test_data_3.json
tests/data/full_test_data_4.json
tests/full_test_data_1.json

tests/credentials.json
