__pycache__
docs/build/
docs/_build
conflict_interface.egg-info/
*.pyc
*.swp
*.egg
dist


.env
cloc.sh

examples/creds.py
examples/__pycache__

.idea
.venv

Makefile
make.bat

conflict_interface/data_types/*

tests/data/full_test_data_1.json
tests/data/full_test_data_2.json
tests/data/full_test_data_3.json
tests/data/full_test_data_4.json
tests/full_test_data_1.json

tests/test_data/credentials.json
tests/test_data/full_test_data_4.json
/doc/data2.json
/doc/data3.json
build
/doc/main-built-min.js

# vcpkg
vcpkg_installed/
.vcpkg-root
tests/test_data/full_test_data_5.json
*.db

examples/
examples/credentials.json
main.js
*.js
/tests/full_test_data_6_v191.json
tests/test_data/full_test_data_1_v206.json
/tools/recorder/config.json
/tools/recorder/accounts.json
/tools/recorder/config-multi.json
/tools/recorder/config.backup.json

/recordings/
/tools/recorder/account_pool.json
/tools/recorder/recordings/
/tools/recorder/credentials.json
/tools/recording_converter/recording-json/
/tests/test_data/
/tools/server_observer/recordings
/tools/server_observer/long_term_storage
/tools/server_observer/accounts.json
/tools/server_observer/config.toml
/tools/server_observer/account_pool.json
/performance_tests/*.png
json-output
_codeql_detected_source_root
*.pyd
*.su
*.so

# Local development data directories
data/
activate.sh
docker/dev/account_pool.json
docker/dev/server-converter-config.json
docker/dev/server-observer-config.toml
docker/prod/account_pool.json
docker/prod/server-converter-config.json
docker/prod/server-observer-config.toml
docker/prod/server-observer-config.toml
