__pycache__/
*.pyc
*.swp
*.egg
conflict_interface/data_types/*
conflict_interface.egg-info


tests/data/full_test_data_1.json
tests/data/full_test_data_2.json
tests/data/full_test_data_3.json
tests/data/full_test_data_4.json
tests/full_test_data_1.json

tests/test_data/